@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-weight: 500;
}

:root {
  --frame-height: 1.5rem;

  --bg-primary: #0d0d0d;
  --bg-secondary: #1b1b1b;
  --bg-tertiary: #212121;
}

button {
  user-select: none;
  padding: 0.45rem 1rem;
  max-width: max-content;
  min-width: 11.75rem;
  font-size: 0.9rem;
  line-height: 100%;
  font-weight: 600;
  color: #ddd;
  cursor: pointer;
  border: none;
  border-radius: 0.35rem;
  background-color: #ffffff20;
  transition: background-color 100ms;
}

button:hover {
  background-color: #ffffff30;
}

button.submit {
  background-color: #2d7d46;
}

button.submit:hover {
  background-color: #215b32;
}

button.cancel {
  background-color: #ed4245;
}

button.cancel:hover {
  background-color: #a12d2f;
}

input {
  padding: 0.35rem 0.5rem;
  max-width: min-content;
  min-width: 10rem;
  font-size: 0.87rem;
  font-weight: 600;
  color: #ddd;
  border: none;
  outline: none;
  border-radius: 0.35rem;
  background-color: #ffffff20;
  transition: background-color 100ms;
}

input:hover {
  background-color: #ffffff30;
}

.dropdown {
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: max-content;
  min-width: 11.75rem;
  padding: 0.5rem;
  font-size: 0.87rem;
  color: #eee;
  cursor: pointer;
  border-radius: 0.35rem;
  background-color: #ffffff20;
  transition: background-color 100ms;
}

.dropdown:hover {
  background-color: #ffffff30;
}

.dropdown svg {
  position: absolute;
  right: 0.5rem;
  width: 1.15rem;
  height: 1.15rem;
  transition: rotate 300ms;
}

.dropdown svg.spin {
  rotate: 180deg;
}

.dropdown .children {
  z-index: 1;
  position: absolute;
  top: calc(100% + 0.35rem);
  left: 0;
  display: flex;
  flex-direction: column;
  /* gap: 0.25rem; */
  width: 100%;
  padding: 0.15rem 0;
  border-radius: 0.35rem;
  /* border: 1px solid black; */
  background-color: #222;
  border: 1px solid #ffffff02;
  box-shadow: 0 0 0.5rem #00000020;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 100ms;
}

.dropdown .children * {
  width: 100%;
  min-width: 100%;
  border-radius: 0;
  background-color: transparent;
}

.dropdown .children :nth-child(odd) {
  background-color: #ffffff02;
}

.dropdown .children *:hover {
  background-color: #ffffff20;
}

.dropdown .children.dActive {
  opacity: 1;
  pointer-events: all;
}

span {
  color: #eee;
  line-height: 1rem;
}

.input-header {
  font-size: 0.9rem;
  font-weight: 700;
  color: #eee;
  margin: 0;
  margin-bottom: 0.2rem;
}

.divider {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
  background-color: #ffffff20;
}

.divider.text span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.35rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: #ccc;
  background-color: var(--bg-primary);
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bg-primary);
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

*::-webkit-scrollbar {
  display: none;
}

.grad0 {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
.grad1 {
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}
.grad2 {
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
}
.grad3 {
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}
.grad4 {
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}
.grad5 {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}
.grad6 {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
.grad7 {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}
.grad8 {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
.grad9 {
  background-image: linear-gradient(to top, #f6d365 0%, #fda085 100%);
}
.grad10 {
  background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}
